h1 {
    color:rgba(164, 24, 24, 0.574);
}
h2{
    color:rgba(37, 37, 162, 0.584); 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
h3 {
    background-color: blanchedalmond;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
