body {
    color: rgb(107, 67, 67) #296eb2;
    background-color: rgb(43, 226, 150);
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    color: #296eb2;
}

a {
    color: rgb(85, 123, 20);
    transition-property: all; 
}

a:hover {
    color:indianred
}

/*Child Selector*/
ul > li {
    font-weight: bold;
}


